{% extends 'base.html' %}
{% load static %}
{% block title %} About{% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About Ahadujjaman Nur</h1>
        <p class="lead">The humble dumb in the mordern era!</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/about.jpg' %}" alt="Md. Ahadujjaman Nur" />
          <div class="card-body">
            <h5 class="card-title">Md. Ahadujjaman Nur</h5>
            <h6 class="text-secondary">Programmer | Web Developer</h6>
            <p>
              Nothing to say about myself. A simple person and enthusiastic
              python programmer, web designer and developer.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2>MD. AHADUJJAMAN NUR</h2>
        <p class="lead">
          132/B, SHAHEED SALAM BARKAT HALL · JAHANGIRNAGAR UNIVERSITY, SAVAR,
          DHAKA-1342
        </p>
        <p class="mt-4">
          Experienced in web design and templating. Iterative approaches to
          manage web applications. Still learning, Intermediate web developer
          and a positive thinker. Intersted in sharing knowledge.
        </p>
        <br />

        <h2>EDUCATION</h2>
        <p class="lead">
          Bachelor of Business Adminstration (BBA), Department of Finance &
          Banking
        </p>
        <p class="lead">Jahangirnagar University</p>
        <br />

        <h2>EXPERIENCE</h2>
        <p class="lead">WEB DESIGNER - UNIVERSITY TOURS AND TRAVELS</p>
        <p>
          Establishd a temporary website for the first time for a Travel Agency.
          It took me some time to do that. But that was fun. It was very nice
          work with them.
        </p>
        <br />
        <p class="lead">WEB DESIGNER AND DEVELOPER - NUR'S BLOG</p>
        <p>
          Establishd this personal blog and some other realistic applications
          like this application.
        </p>
        <br />

        <h2>SKILLS</h2>
        <p class="lead">PROGRAMMING LANGUAGES & TOOLS</p>
        <p>
          HTML - CSS - JAVASCRIPT - BOOTSTRAP - PYTHON - DJANGO - LINUX - FLASK
        </p>
        <br />

        <h2>INTERESTS</h2>
        <p class="lead">MAIN INTEREST IN WEB DEVELOMENT AND DESIGN</p>
        <p>
          Apart from being a web developer, I enjoy most of my time being
          outdoors. In the winter, I go to the hills and if anywhere play
          badminton. During summer seasion playing indoor games is like fun. I
          enjoy cycling, free climbing, and walking alone.
        </p>

        <p>
          When forced indoors, I watch a number of science-fiction and fantasy
          genre movies and play racing games, I am an aspiring chef, and I spend
          a large amount of my free time exploring the latest technolgy
          advancements in the front-end as well as back-end web development
          world.
        </p>
        <p>
          Once upon a time i used to gardening, after growing up i was used to
          paint. Painting gave me much pleasure and now all my interset fall on
          new technologies and programming and after knowing the word
          programming it takes my day and night from me. I just love it.
        </p>
        <p>If the interest goes to eat, I have to say, Love BIRIYANI a lot.</p>
        <br />
      </div>

      <div class="col-md-8"></div>

      <div class="col-md-8"></div>
    </div>
  </div>
</section>
{% endblock %}